<main class="row justify-content-around">
  <form action="register" method="post" class="col-md-5 mt-5">


    <div class="form-floating">
      <input type="email" name="username" class="form-control mb-3" placeholder="name@example.com">
      <label for="floatingInput">Ingrese Email</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control mb-4" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
        <div class="form-floating">
      <input type="text" name="name" class="form-control mb-4" placeholder="Nombre y Apellido">
      <label for="floatingPassword">Nombre y Apellido</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
  </form>
</main>